.thankyou-grid {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh calc(90vh - 1rem);
}

.title-box {
    padding-left: 1rem;
}

.card-box ul {
    display: grid;
    grid-gap: 1rem;
    align-items: stretch;
    justify-content: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    margin: 0;
    padding: 0 1rem 0 1rem;
    list-style-type: none;
}

.card-box li {
    background: cyan;
    border-radius: 10px;
}
